@{
    ViewBag.Title = "Booking";
    ViewBag.Sub = "Regist";

    Layout = "~/Views/Shared/_SubLayout.cshtml";
}
@section Container {
    <input type="hidden" id="View_SCH_NO" value="@ViewBag.SCH_NO" />
    <input type="hidden" id="View_BKG_NO" value="@ViewBag.BKG_NO" />

    <script>
        $('.lnb > li:nth-child(3)').addClass('on');
        $('.lnb > li.on .sub_depth li:nth-child(1) a').addClass('on');
    </script>
    <div class="container">
        <div class="sub_visual" id="Schedule">
            <div class="inner">         
                <h4 class="subtitle" id="Booking_Title">
                    <span>
                        Start Your Business<br />
                        with <strong>FairConline</strong>
                    </span>
                </h4>         
            </div>
        </div>
        <div class="sub_cover" id="SubCover">
            <div class="fixed_in type2 booking-regist">
                <h3 class="page_nm">BOOKING</h3>
                <div class="sch-bar">
                    <div class="sch-box row justify-content-center align-items-center">
                        <div class="sch-item col-lg col-12" style="display:none;">
                            <select name="Export" class="btn-selc" id="Select_Bound">
                                <option value="E">Export</option>
                                @*<option value="I">Import</option>*@
                            </select>
                        </div>
                        <div class="sch-item col-lg col-12">
                            @*<select name="Export" class="btn-selc" onchange="portChange(this.value); changePort(this.value);">*@
                            <select name="Service" class="btn-selc" id="select_CntrType">
                                <option value="F">FCL</option>
                                <option value="L" selected>LCL</option>
                            </select>
                        </div>
                        <div class="sch-item col-lg col-12">
                            <div class="date-wrap int_box cal_date">
                                <input type="text" name="" class="input-date date" id="input_ETD" />
                                <span class="icon-date" id="input_ETD_Icon"></span>
                            </div>
                        </div>
                        <div class="sch-item col-lg col-12">
                            <div class="pop__export">
                                <select id="pop_start">
                                    <option>출발</option>
                                    <option value="KRPUS">Busan</option>
                                    @*<option value="KRINC">Incheon</option>*@
                                </select>
                                @*<a class="link btn-dpt start-region">
                                        <span class="tit" id="input_POL">출발</span>
                                        <input type="hidden" class="input-sch" value="" id="input_POLCD" />
                                        <img src="~/Images/Masstige/e-service/maker-icon.png" class="btn-marker" alt="Search Button" />
                                    </a>
                                    <button type="button" class="delete-btn" style="display:none" name="del_POL"><i class="xi-close-thin"></i></button>*@
                            </div>
                            <div class="select_pop" id="select_SEA_pop01" style="display:none;">
                                <h3 class="title03">주요 출발지 선택<img src="~/Images/close_white.png" class="close_select" /></h3>
                                <div class="select_location">
                                    <div class="">
                                        <div>
                                            <table class="tbl_option mo" id="quick_SEA_POLCD1">
                                                <tbody>
                                                    <tr>
                                                        <th colspan="3">KOREA</th>
                                                    </tr>
                                                    <tr>
                                                        <td><button type="button" value="BUSAN, KOREA;KRPUS"><span>Busan</span></button></td>
                                                        <td><button type="button" value="INCHEON,KOREA;KRINC"><span>Incheon</span></button></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btns icon close" onclick="selectPopClose('#select_SEA_pop01');"><span class="blind">닫기</span></button>
                            </div>
                        </div>
                        <div class="sch-item col-lg col-12 no-pos">
                            <div class="pop__import">
                                <div class="input-box">
                                    <input type="text" id="input_POD" placeholder="도착" style="height:35px; width:100%;" />
                                    <input type="hidden" class="input-sch" value="" id="input_PODCD" />
                                    <button type="button" class="delete-btn" style="display:none; right:20px;" name="del_POD"><i class="xi-close-thin"></i></button>
                                    <img src="~/Images/Masstige/e-service/maker-icon.png" class="btn-marker" alt="검색버튼" style="position:absolute; right:10px; top:50%; transform:translateY(-50%); width:15px; height:20px;" />
                                </div>
                                @*<a class="link btn-dpt arrive-region" id="sch_pod_popup">
                                    <span class="tit" id="input_POD">도착</span>
                                    <input type="hidden" class="input-sch" value="" id="input_PODCD" />
                                    <img src="~/Images/Masstige/e-service/maker-icon.png" class="btn-marker" alt="Search Button" />
                                </a>
                                <button type="button" class="delete-btn" style="display:none" name="del_POD"><i class="xi-close-thin"></i></button>*@
                            </div>
                            <div class="select_pop" id="select_SEA_pop02" style="display: none; width: 100%;">
                                <h3 class="title03">
                                    주요 도착지 선택
                                    <img src="~/Images/close_white.png" class="close_select" />
                                </h3>
                                <div class="select_location">
                                    <div>
                                        <div>
                                            <div class="tbl_option pc" id="quick_SEA_PODCD2">
                                                <div id="ArrivePort">
                                                    @*<div class="location-list_all">
                                                        <div class="continent">ASIA</div>
                                                        <div class="location-list_detail">
                                                            <div class="location_nm"><button type="button" value="BUSAN, KOREA;KRPUS"><span>Hochiminh</span></button></div>
                                                            <div class="location_nm"><button type="button" value="INCHEON,KOREA;KRINC"><span>Haiphong</span></button></div>
                                                            <div class="location_nm"><button type="button" value="PYEONGTAEK, KOREA;KRPTK"><span>Danang</span></button></div>
                                                            <div class="location_nm"><button type="button" value="ULSAN, KOREA;KRUSN"><span>Bangkok</span></button></div>
                                                            <div class="location_nm"><button type="button" value="ULSAN, KOREA;KRUSN"><span>Laem Chabang</span></button></div>
                                                            <div class="location_nm"><button type="button" value="ULSAN, KOREA;KRUSN"><span>Hongkong</span></button></div>
                                                            <div class="location_nm"><button type="button" value="ULSAN, KOREA;KRUSN"><span>Shekou</span></button></div>
                                                            <div class="location_nm"><button type="button" value="ULSAN, KOREA;KRUSN"><span>Jakarta</span></button></div>
                                                            <div class="location_nm"><button type="button" value="ULSAN, KOREA;KRUSN"><span>Surabaya</span></button></div>
                                                            <div class="location_nm"><button type="button" value="ULSAN, KOREA;KRUSN"><span>Vladivostok</span></button></div>
                                                            <div class="location_nm"><button type="button" value="ULSAN, KOREA;KRUSN"><span>Karachi</span></button></div>
                                                            <div class="location_nm"><button type="button" value="ULSAN, KOREA;KRUSN"><span>Chattogram</span></button></div>
                                                            <div class="location_nm"><button type="button" value="ULSAN, KOREA;KRUSN"><span>Colombo</span></button></div>
                                                            <div class="location_nm"><button type="button" value="ULSAN, KOREA;KRUSN"><span>Singapore</span></button></div>
                                                            <div class="location_nm"><button type="button" value="ULSAN, KOREA;KRUSN"><span>Sihanoukville</span></button></div>
                                                            <div class="location_nm"><button type="button" value="ULSAN, KOREA;KRUSN"><span>Manila</span></button></div>
                                                        </div>
                                                    </div>
                                                    <div class="location-list_all">
                                                        <div class="continent">1AISA</div>
                                                        <div class="location-list_detail">
                                                            <div class="location_nm"><button type="button" value="SHANGHAI, CHINA;CNSHA"><span>Keelung</span></button></div>
                                                            <div class="location_nm"><button type="button" value="HONG KONG;HKHKG"><span>Kaoshiung</span></button></div>
                                                            <div class="location_nm"><button type="button" value="NINGBO, CHINA;CNNGB"><span>Taichung</span></button></div>
                                                            <div class="location_nm"><button type="button" value="QINGDAO, CHINA;CNTAO"><span>Port Kelang</span></button></div>
                                                            <div class="location_nm"><button type="button" value="SHEKOU, CHINA;CNSHK"><span>Penang</span></button></div>
                                                            <div class="location_nm"><button type="button" value="SHEKOU, CHINA;CNSHK"><span>Chennai</span></button></div>
                                                            <div class="location_nm"><button type="button" value="SHEKOU, CHINA;CNSHK"><span>Kattupalli</span></button></div>
                                                            <div class="location_nm"><button type="button" value="SHEKOU, CHINA;CNSHK"><span>Nhava Sheva</span></button></div>
                                                        </div>
                                                    </div>
                                                    <div class="location-list_all">
                                                        <div class="continent">CHINA</div>
                                                        <div class="location-list_detail">
                                                            <div class="location_nm"><button type="button" value="HAIPHONG, VIETNAM;VNHPH"><span>Shanghai</span></button></div>
                                                            <div class="location_nm"><button type="button" value="HO CHI MINH CITY, VIETNAM;VNSGN"><span>Xingang</span></button></div>
                                                            <div class="location_nm"><button type="button" value="KAOHSIUNG, TAIWAN;TWKHH"><span>Qingdao</span></button></div>
                                                            <div class="location_nm"><button type="button" value="SINGAPORE;SGSIN"><span>Dalian</span></button></div>
                                                            <div class="location_nm"><button type="button" value="JAKARTA, INDONESIA;IDJKT"><span>Ningbo</span></button></div>
                                                            <div class="location_nm"><button type="button" value="JAKARTA, INDONESIA;IDJKT"><span>Xiamen</span></button></div>
                                                            <div class="location_nm"><button type="button" value="JAKARTA, INDONESIA;IDJKT"><span>Nanjing</span></button></div>
                                                            <div class="location_nm"><button type="button" value="JAKARTA, INDONESIA;IDJKT"><span>Yantai</span></button></div>
                                                            <div class="location_nm"><button type="button" value="SHEKOU, CHINA;CNSHK"><span>Qingdao-Ferry</span></button></div>
                                                            <div class="location_nm"><button type="button" value="SHEKOU, CHINA;CNSHK"><span>Weihai</span></button></div>
                                                            <div class="location_nm"><button type="button" value="SHEKOU, CHINA;CNSHK"><span>Weihai-Ferry</span></button></div>
                                                        </div>
                                                    </div>
                                                    <div class="location-list_all">
                                                        <div class="continent">JAPAN</div>
                                                        <div class="location-list_detail">
                                                            <div class="location_nm"><button type="button" value="LONG BEACH, U.S.A.;USLGB"><span>Tokyo</span></button></div>
                                                            <div class="location_nm"><button type="button" value="NEW YORK, U.S.A.;USNYC"><span>Yokohama</span></button></div>
                                                            <div class="location_nm"><button type="button" value="MOBILE, AL;USMOB"><span>Nagoya</span></button></div>
                                                            <div class="location_nm"><button type="button" value="TACOMA, U.S.A.;USTIW"><span>Osaka</span></button></div>
                                                            <div class="location_nm"><button type="button" value="SEATTLE, U.S.A.;USSEA"><span>Kobe</span></button></div>
                                                            <div class="location_nm"><button type="button" value="SEATTLE, U.S.A.;USSEA"><span>Moji</span></button></div>
                                                            <div class="location_nm"><button type="button" value="SEATTLE, U.S.A.;USSEA"><span>Hakata</span></button></div>
                                                        </div>
                                                    </div>
                                                    <div class="location-list_all">
                                                        <div class="continent">EUROPR</div>
                                                        <div class="location-list_detail">
                                                            <div class="location_nm"><button type="button" value="HAMBURG, GERMANY;DEHAM"><span>Hamburg</span></button></div>
                                                            <div class="location_nm"><button type="button" value="KOPER, SLOVENIA;SIKOP"><span>Southampton</span></button></div>
                                                            <div class="location_nm"><button type="button" value="ROTTERDAM, NETHERLANDS;NLRTM"><span>Rotterdam/Antwerp</span></button></div>
                                                            <div class="location_nm"><button type="button" value="ANTWERPEN, BELGIUM;BEANR"><span>Prague</span></button></div>
                                                            <div class="location_nm"><button type="button" value="LE HAVRE, FRANCE;FRLEH"><span>Budapest</span></button></div>
                                                        </div>
                                                    </div>
                                                    <div class="location-list_all">
                                                        <div class="continent">MEDSEA</div>
                                                        <div class="location-list_detail">
                                                            <div class="location_nm"><button type="button" value="ADELAIDE, AUSTRALIA;AUADL"><span>Haydarpasa</span></button></div>
                                                            <div class="location_nm"><button type="button" value="MELBOURNE, AUSTRALIA;AUMEL"><span>Ambarli (Kumport)</span></button></div>
                                                            <div class="location_nm"><button type="button" value="SYDNEY, AUSTRALIA;AUSYD"><span>FOS (Marseille)</span></button></div>
                                                            <div class="location_nm"><button type="button" value="BRISBANE, AUSTRALIA;AUBNE"><span>Genoa</span></button></div>
                                                            <div class="location_nm"><button type="button" value="AUCKLAND, NEW ZEALAND;NZAKL"><span>Ashdod</span></button></div>
                                                            <div class="location_nm"><button type="button" value="AUCKLAND, NEW ZEALAND;NZAKL"><span>Barcelona</span></button></div>
                                                            <div class="location_nm"><button type="button" value="AUCKLAND, NEW ZEALAND;NZAKL"><span>Valencia</span></button></div>
                                                            <div class="location_nm"><button type="button" value="AUCKLAND, NEW ZEALAND;NZAKL"><span>Piraeus</span></button></div>
                                                            <div class="location_nm"><button type="button" value="AUCKLAND, NEW ZEALAND;NZAKL"><span>Sines</span></button></div>
                                                        </div>
                                                    </div>
                                                    <div class="location-list_all">
                                                        <div class="continent">MID-EAST</div>
                                                        <div class="location-list_detail">
                                                            <div class="location_nm"><button type="button" value="JAWAHARLAL NEHRU (NHAVA SHEVA), INDIA;INNSA"><span>Dubai</span></button></div>
                                                            <div class="location_nm"><button type="button" value="CHENNAI (EX MADRAS), INDIA;INMAA"><span>Alexandria</span></button></div>
                                                        </div>
                                                    </div>
                                                    <div class="location-list_all">
                                                        <div class="continent">NORTH AMERICA</div>
                                                        <div class="location-list_detail">
                                                            <div class="location_nm"><button type="button" value="BANDAR ABBAS, IRAN;IRBND"><span>Long Beach</span></button></div>
                                                            <div class="location_nm"><button type="button" value="ISTANBUL, TURKEY;TRIST"><span>New York</span></button></div>
                                                            <div class="location_nm"><button type="button" value="JEBEL ALI, UNITED ARAB EMIRATES;AEJEA"><span>Oakland</span></button></div>
                                                            <div class="location_nm"><button type="button" value="JEDDAH, SAUDI ARABIA;SAJED"><span>Seattle</span></button></div>
                                                            <div class="location_nm"><button type="button" value="EL ISKANDARIYA (= ALEXANDRIA), EGYPT;EGALY"><span>Chicago</span></button></div>
                                                            <div class="location_nm"><button type="button" value="EL ISKANDARIYA (= ALEXANDRIA), EGYPT;EGALY"><span>Vancouver</span></button></div>
                                                            <div class="location_nm"><button type="button" value="EL ISKANDARIYA (= ALEXANDRIA), EGYPT;EGALY"><span>Toronto</span></button></div>
                                                            <div class="location_nm"><button type="button" value="EL ISKANDARIYA (= ALEXANDRIA), EGYPT;EGALY"><span>Montreal</span></button></div>
                                                        </div>
                                                    </div>
                                                    <div class="location-list_all">
                                                        <div class="continent">LATIN AMERICA</div>
                                                        <div class="location-list_detail">
                                                            <div class="location_nm"><button type="button" value="KOBE, JAPAN;JPUKB"><span>Colon Free Zone</span></button></div>
                                                            <div class="location_nm"><button type="button" value="OSAKA, JAPAN;JPOSA"><span>Caucedo</span></button></div>
                                                            <div class="location_nm"><button type="button" value="TOKYO, JAPAN;JPTYO"><span>Manzanillo</span></button></div>
                                                            <div class="location_nm"><button type="button" value="YOKOHAMA, JAPAN;JPYOK"><span>Buenaventura</span></button></div>
                                                            <div class="location_nm"><button type="button" value="NAGOYA, AICHI;JPNGO"><span>Guatemala City</span></button></div>
                                                            <div class="location_nm"><button type="button" value="NAGOYA, AICHI;JPNGO"><span>San Jose</span></button></div>
                                                            <div class="location_nm"><button type="button" value="NAGOYA, AICHI;JPNGO"><span>Managua</span></button></div>
                                                            <div class="location_nm"><button type="button" value="NAGOYA, AICHI;JPNGO"><span>Callao</span></button></div>
                                                            <div class="location_nm"><button type="button" value="NAGOYA, AICHI;JPNGO"><span>Valparaiso</span></button></div>
                                                            <div class="location_nm"><button type="button" value="NAGOYA, AICHI;JPNGO"><span>Iquique</span></button></div>
                                                            <div class="location_nm"><button type="button" value="NAGOYA, AICHI;JPNGO"><span>Guayaquil</span></button></div>
                                                            <div class="location_nm"><button type="button" value="NAGOYA, AICHI;JPNGO"><span>Santos</span></button></div>
                                                            <div class="location_nm"><button type="button" value="NAGOYA, AICHI;JPNGO"><span>Itajai</span></button></div>
                                                            <div class="location_nm"><button type="button" value="NAGOYA, AICHI;JPNGO"><span>Buenos Aires</span></button></div>
                                                        </div>
                                                    </div>
                                                    <div class="location-list_all">
                                                        <div class="continent">OCEANIA</div>
                                                        <div class="location-list_detail">
                                                            <div class="location_nm"><button type="button" value="BANDAR ABBAS, IRAN;IRBND"><span>Melbourne</span></button></div>
                                                            <div class="location_nm"><button type="button" value="ISTANBUL, TURKEY;TRIST"><span>Sydney</span></button></div>
                                                            <div class="location_nm"><button type="button" value="JEBEL ALI, UNITED ARAB EMIRATES;AEJEA"><span>Brisbane</span></button></div>
                                                            <div class="location_nm"><button type="button" value="JEDDAH, SAUDI ARABIA;SAJED"><span>Auckland</span></button></div>
                                                        </div>
                                                    </div>
                                                    <div class="location-list_all">
                                                        <div class="continent">AFRICA</div>
                                                        <div class="location-list_detail">
                                                            <div class="location_nm"><button type="button" value="BANDAR ABBAS, IRAN;IRBND"><span>Durban</span></button></div>
                                                        </div>
                                                    </div>*@
                                                </div>
                                            </div>
                                            <table class="tbl_option mo" id="quick_SEA_PODCD2">
                                                <tbody id="ArrivePort_Mo">
                                                    <!--<tr>
                                                        <th colspan="3">ASIA</th>
                                                    </tr>
                                                    <tr>
                                                        <td><button type="button" value="HO CHI MINH CITY, VIETNAM;VNSGN"><span>Hochiminh</span></button></td>--> <!-- 인천일때  --><!--ㅇ-->
                                                        <!--<td><button type="button" value="HAIPHONG, VIETNAM;VNHPH"><span>Haiphong</span></button></td>--> <!-- 인천일때  --><!--ㅇ-->
                                                        <!--<td><button type="button" value="DANANG, VIETNAM;VNHPHK"><span>Danang</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="BANGKOK, THAILAND;THBKK"><span>Bangkok</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="LAEM CHABANG, THAILAND;THLCH"><span>Laem Chabang</span></button></td>
                                                        <td><button type="button" value="HONG KONG;HKHKG"><span>Hongkong</span></button></td>--> <!-- 인천일때  --><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="SHEKOU, CHINA;CNSHK"><span>Shekou</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="JAKARTA, INDONESIA;IDJKT"><span>Jakarta</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="SURABAYA, INDONESIA;IDSUB"><span>Surabaya</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="VLADIVOSTOK, RUSSIA;RUVVO"><span>Vladivostok</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="KARACHI, PAKISTAN;PKKHI"><span>Karachi</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="CHITTAGONG, BANGLADESH;BDCGP"><span>Chattogram</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="COLOMBO, SRI LANKA;CMB"><span>Colombo</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="SINGAPORE;SGSIN"><span>Singapore</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="SIHANOUKVILLE, CAMBODIA;KHSIH"><span>Sihanoukville</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="MANILA, PHILIPPINES;PHMNL"><span>Manila</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <th colspan="3">1ASIA</th>
                                                    </tr>
                                                    <tr>
                                                        <td><button type="button" value="KEELUNG,TAIWAN;TWKEL"><span>Keelung</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="KAOHSIUNG, TAIWAN;TWKHH"><span>Kaoshiung</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="TAICHUNG, TAIWAN;TWTXG"><span>Taichung</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="PORT KELANG, MALAYSIA;MYPKG"><span>Port Kelang</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="PENANG (GEORGETOWN), MALAYSIA;MYPEN"><span>Penang</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="CHENNAI (EX MADRAS), INDIA;INMAA"><span>Chennai</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="KATTUPALLI, INDIA;INKAT"><span>Kattupalli</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="JAWAHARLAL NEHRU (NHAVA SHEVA), INDIA;INNSA"><span>Nhava Sheva</span></button></td>--><!--ㅇ-->
                                                        <!--<td></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3">CHINA</th>
                                                    </tr>
                                                    <tr>
                                                        <td><button type="button" value="SHANGHAI, CHINA;CNSHA"><span>Shanghai</span></button></td>--> <!-- 인천일때  --><!--ㅇ-->
                                                        <!--<td><button type="button" value="XINGANG, CHINA;CNTXG"><span>Xingang</span></button></td>--> <!-- 인천일때  --><!--ㅇ-->
                                                        <!--<td><button type="button" value="QINGDAO, CHINA;CNTAO"><span>Qingdao</span></button></td>--> <!-- 인천일때  --><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="DALI, CHINA;CNDLC"><span>Dalian</span></button></td>--> <!-- 인천일때  --><!--ㅇ-->
                                                        <!--<td><button type="button" value="NINGBO, CHINA;CNNGB"><span>Ningbo</span></button></td>--> <!-- 인천일때  --><!--ㅇ-->
                                                        <!--<td><button type="button" value="XIAMEN, CHINA;CNXMN"><span>Xiamen</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="NANJING, CHINA;CNNKG"><span>Nanjing</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="YANTAI, CHINA;CNYNT"><span>Yantai</span></button></td>--> <!-- 인천일때  --><!--ㅇ-->
                                                        <!--<td><button type="button" value="QINGDAO, CHINA;CNTAO"><span>Qingdao-Ferry</span></button></td>--> <!-- 인천일때  --><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="WEIHAI, CHINA;CNWEI"><span>Weihai</span></button></td>--> <!-- 인천일때  --><!--ㅇ-->
                                                        <!--<td><button type="button" value="WEIHAI, CHINA;CNWEI"><span>Weihai-Ferry</span></button></td>--> <!-- 인천일때  --><!--ㅇ-->
                                                        <!--<td></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3">JAPAN</th>
                                                    </tr>
                                                    <tr>
                                                        <td><button type="button" value="TOKYO, JAPAN;JPTYO"><span>Tokyo</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="YOKOHAMA, JAPAN;JPYOK"><span>Yokohama</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="NAGOYA, AICHI;JPNGO"><span>Nagoya</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="OSAKA, JAPAN;JPOSA"><span>Osaka</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="KOBE, JAPAN;JPUKB"><span>Kobe</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="MOJI/KITAKYUSHU, JAPAN;JPMOJ"><span>Moji</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="HAKATA/FUKUOKA, JAPAN;JPHKT"><span>Hakata</span></button></td>--><!--ㅇ-->
                                                        <!--<td></td>
                                                        <td></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3">EUROPE</th>
                                                    </tr>
                                                    <tr>
                                                        <td><button type="button" value="HAMBURG, GERMANY;DEHAM"><span>Hamburg</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="SOUTHAMPTON, UNITED KINGDOM;GBSOU"><span>Southampton</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="ROTTERDAM, NETHERLANDS;NLRTM"><span>Rotterdam/Antwerp</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="PRAGUE,  CZECH, REP.;PRG"><span>Prague</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="BUDAPEST, HUNGARY;HUBUD"><span>Budapest</span></button></td>--><!--ㅇ-->
                                                        <!--<td></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3">MEDSEA</th>
                                                    </tr>
                                                    <tr>
                                                        <td><button type="button" value="HAYDARPASA, TURKEY;TRHAY"><span>Haydarpasa</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="AMBARLI, TURKEY;TRAMB"><span>Ambarli(Kumport)</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="MARSEILLE, FRANCE;FRMRS"><span>FOS(Marseille)</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="GENOA, ITALY;ITGOA"><span>Genoa</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="ASHDOD, ISRAEL;ILASH"><span>Ashdod</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="BARCELONA, SPAIN;ESBCN"><span>Barcelona</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="VALENCIA, SPAIN;ESVLC"><span>Valencia</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="PIRAEUS, GREECE;GRPIR"><span>Piraeus</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="SINES, PORTUGAL;PTSIE"><span>Sines</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <th colspan="3">MID-EAST</th>
                                                    </tr>
                                                    <tr>
                                                        <td><button type="button" value="DUBAI,UNITED ARAB EMIRATES;AEDXB"><span>Dubai</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="EL ISKANDARIYA (= ALEXANDRIA), EGYPT;EGALY"><span>Alexandria</span></button></td>--><!--ㅇ-->
                                                        <!--<td></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3">NORTH AMERICA</th>
                                                    </tr>
                                                    <tr>
                                                        <td><button type="button" value="LONG BEACH, U.S.A.;USLGB"><span>Long Beach</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="NEW YORK, U.S.A.;USNYC"><span>New York</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="AUCKLAND, NEW ZEALAND;NZAKL"><span>Oakland</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="SEATTLE, U.S.A.;USSEA"><span>Seattle</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="CHICAGO,IL U.S.A.;ORD"><span>Chicago</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="VANCOUVER,BC CANADA;YVR"><span>Vancouver</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="TORONTO,OT CANADA;YYZ"><span>Toronto</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="MONTREAL, CANADA;CAMTR"><span>Montreal</span></button></td>--><!--ㅇ-->
                                                        <!--<td></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3">LATIN AMERICA</th>
                                                    </tr>
                                                    <tr>
                                                        <td><button type="button" value="COLON FREE ZONE, PANAMA;PACFZ"><span>Colon Free Zone</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="CAUCEDO, DOMINICAN REPUBLIC;DOCAU"><span>Caucedo</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="MAZANILLO, MEXICO;MXZLO"><span>Manzanillo</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="BUENAVENTURA, COLOMBIA;COBUN"><span>Buenaventura</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="GUATEMALA CITY, GUATEMALA;JPNGO"><span>Guatemala City</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="SAN JOSE, COSTA RICA;CRSJO"><span>San Jose</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="MANAGUA, NICARAGUA;NIMGA"><span>Managua</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="CALLAO, PERU;PECLL"><span>Callao</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="VALPARAISO, CHILE;CLVAP"><span>Valparaiso</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="IQUIQUE, CHILE;CLIQQ"><span>Iquique</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="GUAYAQUIL, ECUADOR;ECGYE"><span>Guayaquil</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="SANTOS, BRAZIL;BRSSZ"><span>Santos</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="ITAJAI, BRAZIL;BRITJ"><span>Itajai</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="BUENOS AIRES, ARGENTINA;ARBUE"><span>Buenos Aires</span></button></td>--><!--ㅇ-->
                                                        <!--<td></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3">Melbourne</th>
                                                    </tr>
                                                    <tr>
                                                        <td><button type="button" value="MELBOURNE, AUSTRALIA;AUMEL"><span>Melbourne</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="SYDNEY, AUSTRALIA;AUSYD"><span>Sydney</span></button></td>--><!--ㅇ-->
                                                        <!--<td><button type="button" value="MELBOURNE, AUSTRALIA;AUMEL"><span>Brisbane</span></button></td>--><!--ㅇ-->
                                                    <!--</tr>
                                                    <tr>
                                                        <td><button type="button" value="AUCKLAND, NEW ZEALAND;NZAKL"><span>Auckland</span></button></td>--><!--ㅇ-->
                                                        <!--<td></td>
                                                        <td></td>
                                                    </tr>-->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btns icon close" onclick="selectPopClose('#select_SEA_pop02');"><span class="blind">닫기</span></button>
                            </div>
                        </div>
                        <div class="sch-item col-lg-auto col-12">
                            <button type="submit" title="SearchSchedule" class="btn-type-01 btn-sch" id="btn_Schedule_Search" onclick="fnMovePage('tab_area')"><img src="~/Images/icn_search_c.png" /></button>
                        </div>
                    </div>
                </div>
                <div class="booking_write">
                    <div class="left_area">
                        <div class="bk_box" id="tab_area" style="padding-top:20px;">
                            <!-- S : (내용--pc)-->
                            <div class="row-scrollwrap__bk d-none d-md-block"  data-show="1024">
                                @*<p class="row-scrollwrap__txt"><i class="xi-info-o"></i>가로로 스크롤 하여 보실 수 있습니다.</p>*@
                                <div class="row-scrollwrap__scroll">
                                    <div class="row-scrollwrap__content">
                                        <!-- S: 스크롤 할 컨텐츠 -->
                                        <table class="table bk-table">
                                            <colgroup>
                                                <col width="16.6666%" />
                                                <col width="16.6666%" />
                                                <col width="16.6666%" />
                                                <col width="16.6666%" />
                                                <col width="16.6666%" />
                                                <col width="16.6666%" />
                                            </colgroup>
                                            <thead id="Schedule_orderby">
                                                <tr>
                                                    <th colspan="2">
                                                        <div class="title-ctrl">
                                                            <div class="tit orderby">Carrier</div>
                                                            <button type="button" class="btn-arrow" value="LINE_CD"></button>
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="title-ctrl">
                                                            <div class="tit orderby">D/Closing</div>
                                                            <button type="button" class="btn-arrow" value="DOC_CLOSE_YMD"></button>
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="title-ctrl">
                                                            <div class="tit orderby">C/Closing</div>
                                                            <button type="button" class="btn-arrow" value="CARGO_CLOSE_YMD"></button>
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="title-ctrl">
                                                            <div class="tit orderby">Departure</div>
                                                            <button type="button" class="btn-arrow" value="ETD"></button>
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="title-ctrl">
                                                            <div class="tit orderby">Arrival</div>
                                                            <button type="button" class="btn-arrow" value="ETA"></button>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                        <div class="bk_list_scroll">
                                            <table class="table bk-table">
                                                <colgroup>
                                                    <col width="16.6666%" />
                                                    <col width="16.6666%" />
                                                    <col width="16.6666%" />
                                                    <col width="16.6666%" />
                                                    <col width="16.6666%" />
                                                    <col width="16.6666%" />
                                                </colgroup>
                                                <tbody id="Schedule_AREA_PC">
                                                    @*<tr class="BkSchList">
                                                <td class="des">
                                                    <div class="logo-img">
                                                        <img src="~/Images/Masstige/e-service/sch-logo.jpg" alt="logo" />
                                                    </div>
                                                </td>
                                                <td class="des">KMTC ULSAN 2022S</td>
                                                <td class="des">2020.10.29 (목) Busan, Korea</td>
                                                <td class="des">2020.11.29 (월) Shanghai, China</td>
                                                <td class="des txt-doc">2020.10.27 (화) 12:00</td>
                                                <td class="des">2020.10.29 (목) 12:00</td>
                                            </tr>
                                            <tr class="BkSchList">
                                                <td class="des">
                                                    <div class="logo-img">
                                                        <img src="~/Images/Masstige/e-service/sch-logo.jpg" alt="logo" />
                                                    </div>
                                                </td>
                                                <td class="des">KMTC ULSAN 2022S</td>
                                                <td class="des">2020.10.29 (목) Busan, Korea</td>
                                                <td class="des">2020.11.29 (월) Shanghai, China</td>
                                                <td class="des txt-doc">2020.10.27 (화) 12:00</td>
                                                <td class="des">2020.10.29 (목) 12:00</td>
                                            </tr>
                                            <tr>
                                                <td colspan="6" class="no_data"></td>
                                            </tr>*@
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- E: 스크롤 할 컨텐츠 -->
                                    </div>
                                </div>
                            </div>
                            <!-- E : (내용--pc)-->
                            <!-- S : (내용--모바일)-->
                            <div class="m-info d-block d-md-none regist_height_m" id="Schedule_AREA_MO">
                                <ul class="info-box py-2 px-1">
                                    <li class="info-txt info-txt--full">
                                        <img src="~/Images/Masstige/e-service/sch-logo.jpg" alt="logo" />
                                    </li>
                                    <li class="info-txt info-txt--full">
                                        <p class="title">Carrier</p>
                                        <p class="des">KMTC ULSAN 2022S</p>
                                    </li>
                                    <li class="info-txt info-txt--full">
                                        <p class="title">D/Closing</p>
                                        <p class="tit">2020.10.27 (화) 12:00</p>
                                    </li>
                                    <li class="info-txt info-txt--full">
                                        <p class="title">C/Closing</p>
                                        <p class="tit">2020.10.29 (목) 12:00</p>
                                    </li>
                                    <li class="info-txt info-txt--full">
                                        <p class="title">Departure</p>
                                        <p class="des">2020.10.29 (목) Busan, Korea</p>
                                    </li>
                                    <li class="info-txt info-txt--full">
                                        <p class="title">Arrival</p>
                                        <p class="des">2020.11.29 (월) Shanghai, China</p>
                                    </li>
                                </ul>
                                @*<ul class="info-box py-2 px-1">
                                    <li class="info-txt info-txt--full">
                                        <img src="~/Images/Masstige/e-service/sch-logo.jpg" alt="logo" />
                                    </li>
                                    <li class="info-txt info-txt--full">
                                        <p class="title">Carrier</p>
                                        <p class="des">KMTC ULSAN 2022S</p>
                                    </li>
                                    <li class="info-txt info-txt--full">
                                        <p class="title">Departure</p>
                                        <p class="des">2020.10.29 (목) Busan, Korea</p>
                                    </li>
                                    <li class="info-txt info-txt--full">
                                        <p class="title">Arrival</p>
                                        <p class="des">2020.11.29 (월) Shanghai, China</p>
                                    </li>
                                    <li class="info-txt info-txt--full">
                                        <p class="title">D/Closing</p>
                                        <p class="tit">2020.10.27 (화) 12:00</p>
                                    </li>
                                    <li class="info-txt info-txt--full">
                                        <p class="title">C/Closing</p>
                                        <p class="tit">2020.10.29 (목) 12:00</p>
                                    </li>
                                </ul>*@
                                <ul>
                                    <li class="no_data"></li>
                                </ul>
                            </div>
                            <!-- E : (내용--모바일)-->
                            <!-- S : 페이징 -->
                            <div class="paging-area" id="Paging_Area">
                                @*<ul>
                            <li>
                                <a href="javascript:;" class="prev-first"><span>To the front</span></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="prev"><span>Before</span></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="active">1<span></span></a>
                            </li>
                            <li>
                                <a href="javascript:;">2<span></span></a>
                            </li>
                            <li>
                                <a href="javascript:;">3<span></span></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="next"><span>Next</span></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="next-last"><span>At the very end</span></a>
                            </li>
                        </ul>*@
                            </div>
                            <!-- E : 페이징 -->
                        </div>
                    </div>
                    <div class="right_area">
                        <div class="bk_box">
                            <div class="bk-wrap bk-form-1">

                                @if (ViewBag.BKG_NO != null)
                                {
                                    <div class="booking_status">
                                        <p>부킹 상태 : <span name="booking_status_title"></span></p>
                                    </div>
                                }

                                <!-- S : 폼 시작(export) -->
                            <div class="bk-box-border">
                                <p class="essential-warn">필수 입력값 입니다.</p>
                                <div class="bk-box">
                                    <div class="input-box">
                                        <input type="text" id="input_bk_COL2" class="input_for essential_warn" data-index="BkReg_E_4" maxlength="200" placeholder="실화주">
                                        <button type="button" class="delete-btn"><i class="xi-close-thin"></i></button>
                                    </div>
                                    <div class="input-box">
                                        <input type="text" id="input_bk_E_Item" value="" class="input_for" placeholder="Item" maxlength="50" data-index="BkReg_E_0" />
                                        <button type="button" class="delete-btn"><i class="xi-close-thin"></i></button>
                                    </div>
                                    <div class="row justify-content-center align-items-center" style="justify-content:space-between!important;">
                                        <div class="col-4" style="padding:0;">
                                            <div class="input-box mb-0">
                                                <input type="text" id="input_bk_E_Qty" class="input_for" placeholder="Qty" data-index="BkReg_E_1" maxlength="5" />
                                                <button type="button" class="delete-btn"><i class="xi-close-thin"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-4" style="padding-right:0;">
                                            <div class="input-box mb-0">
                                                <input type="text" id="input_bk_E_GW" class="input_for" placeholder="G/W (kg)" data-index="BkReg_E_2" maxlength="8" />
                                                <button type="button" class="delete-btn"><i class="xi-close-thin"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-4" style="padding-right:0;">
                                            <div class="input-box mb-0">
                                                <input type="text" id="input_bk_E_CBM" class="input_for essential_warn" placeholder="CBM" data-index="BkReg_E_3" maxlength="5" />
                                                <button type="button" class="delete-btn"><i class="xi-close-thin"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bk-box">
                                    <div class="row justify-content-between">
                                        <div class="col-md col-4" style="padding-left:0;">
                                            <input type="checkbox" name="input_bk_COL18" value="Y" id="NOMI" title="NOMI-ex" class="mr_05" />
                                            <label for="NOMI" class="common-text--16 font-sub text-gray-6">NOMI</label>
                                        </div>
                                        <div class="col-md col-4">
                                            <input type="checkbox" name="input_bk_COL18" value="N" id="FREE" title="FREE-ex" class="mr_05" />
                                            <label for="FREE" class="common-text--16 font-sub text-gray-6">FREE</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="bk-box">
                                    <p class="common-text--16 pb-1 font-sub font-weight-medium">Incoterms</p>
                                    <div class="row justify-content-between align-items-center" style="margin-top:10px;">
                                        <div class="col-md col-4" style="padding-left:0;">
                                            <input type="checkbox" name="input_bk_COL1" value="CC" id="CC" title="CC-ex" class="mr_05" />
                                            <label for="CC" class="common-text--16 font-sub text-gray-6">CC</label>
                                        </div>
                                        <div class="col-md col-4">
                                            <input type="checkbox" name="input_bk_COL1" value="PP" id="PP" title="PP-ex" class="mr_05" />
                                            <label for="PP" class="common-text--16 font-sub text-gray-6">PP</label>
                                        </div>
                                        <div class="col-md col-4">
                                            <input type="checkbox" name="input_bk_COL1" value="EXW" id="EXW" title="EXW-ex" class="mr_05" />
                                            <label for="EXW" class="common-text--16 font-sub text-gray-6">EXW</label>
                                        </div>
                                        <div class="col-md col-4 m-padding">
                                            <input type="checkbox" name="input_bk_COL1" value="FOB" id="FOB" title="FOB-ex" class="mr_05" />
                                            <label for="FOB" class="common-text--16 font-sub text-gray-6">FOB</label>
                                        </div>
                                        <div class="col-md col-4">
                                            <input type="checkbox" name="input_bk_COL1" value="DAP" id="DAP" title="DAP-ex" class="mr_05" />
                                            <label for="DAP" class="common-text--16 font-sub text-gray-6">DAP</label>
                                        </div>
                                        <div class="col-md col-4">
                                            <input type="checkbox" name="input_bk_COL1" value="DDP" id="DDP" title="DDP-ex" class="mr_05" />
                                            <label for="DDP" class="common-text--16 font-sub text-gray-6">DDP</label>
                                        </div>
                                        <div class="col-md col-4 m-padding">
                                            <input type="checkbox" name="input_bk_COL1" value="ETC" id="ETC" title="ETC-ex" class="mr_05" />
                                            <label for="ETC" class="common-text--16 font-sub text-gray-6">기타</label>
                                        </div>
                                    </div>
                                    <div class="bk-box" id="Etc_form" style="display:none;">
                                        <div class="input-box" style="margin-bottom:0;">
                                            <input type="text" name="" placeholder="기타 입력" id="Etc_Input" maxlength="200" autocomplete="off" style="height:40px; width:100%;" />
                                            <button type="button" class="delete-btn" style="display:none"><i class="xi-close-thin"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="bk-box">
                                    <div class="row align-items-center">
                                        <div class="col-auto" style="padding-left:0;">
                                            <input type="checkbox" name="transit-ex" value="운송" id="input_bk_COL3" title="운송" class="mr_05" />
                                            <label for="input_bk_COL3" class="common-text--16 text-gray-6">운송</label>
                                        </div>
                                        <div class="col-auto">
                                            <input type="checkbox" name="customs-ex" value="통관" id="input_bk_COL4" title="통관" class="mr_05" />
                                            <label for="input_bk_COL4" class="common-text--16 text-gray-6">통관</label>
                                        </div>
                                        <div class="col-auto">
                                            <input type="checkbox" name="insurance-ex" value="보험" id="input_bk_COL5" title="보험" class="mr_05" />
                                            <label for="input_bk_COL5" class="common-text--16 text-gray-6">보험</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="bk-box">
                                    <div class="row align-items-center">
                                        <div class="col-auto" style="padding-left:0;">
                                            <input type="checkbox" name="ams" value="AMS 자체 신고 시 체크" id="input_bk_COL6" title="AMS 자체 신고 시 체크" class="mr_05" />
                                            <label for="input_bk_COL6" class="common-text--16 text-gray-6">AMS 자체 신고 시 체크</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="bk-box">
                                    <div class="input-box" style="margin-bottom:0;">
                                        <input type="text" name="" class="input-date datepicker cal_date" placeholder="창고반입 예정일" id="input_bk_COL7" autocomplete="off" style="height:40px;" />
                                        <span class="icon-date" id="input_house_icon"></span>
                                    </div>
                                </div>
                                <div class="bk-box">
                                    <div class="input-box">
                                        <textarea id="input_bk_COL8" class="input_for" placeholder="Remark (화물 SIZE 기입)" data-index="BkReg_E_5" maxlength="150" style="padding:10px; border:1px solid #ddd;"></textarea>
                                        @*<input type="text" id="input_bk_COL8" class="input_for" placeholder="Remark (안전창고의 경우 한글 아이템명 기입)" data-index="BkReg_E_6" maxlength="49"/>*@
                                        @*<button type="button" class="delete-btn"><i class="xi-close-thin"></i></button>*@
                                    </div>
                                </div>
                                <div class="bk-box-shadow"></div>
                                <p class="cant_modify">수정불가</p>
                            </div>
                                <div class="bk-box border-0">
                                    <div class="file_list_border" id="file_list">
                                        <div class="file-box">
                                            <label for="bk_file_E_upload" class="file-box__btn">+ 첨부파일</label>
                                            <input type="file" id="bk_file_E_upload" multiple="multiple" />
                                        </div>
                                        <div class="upload_files">
                                            <div class="upload_noscroll">
                                                <table class="upload_head">
                                                    <colgroup>
                                                        <col width="30%" />
                                                        <col width="70%" />
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th><p class="file_tit">구분</p></th>
                                                            <th><p class="file_tit">파일명</p></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                            <div class="upload_scroll">
                                                <table class="upload_body">
                                                    <colgroup>
                                                        <col width="30%" />
                                                        <col width="70%" />
                                                    </colgroup>
                                                    <tbody id="insert_E_files">
                                                        @*<tr>
                                                    <td>
                                                        <select>
                                                            <option>C/I, P/L</option>
                                                            <option>원산지 증명서</option>
                                                            <option>수출 면장</option>
                                                            <option>수출계약서</option>
                                                            <option>기타</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <div class="file_cover">
                                                            <span class="file_name">안전운임_양식_2021_4분기.xlsx</span>
                                                            <button type="button" class="delete-btn" style="display: inline-block;"><i class="xi-close-thin"></i></button>
                                                            <input type="hidden" class="input_FileList_SEQ">
                                                            <input type="hidden" class="input_FileList_SetTime" name="input_FileList_SetTime" value="2022051114321261">
                                                        </div>
                                                    </td>
                                                </tr>
                                                        *@
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn-type-01 w-100 mt-3" id="btn_E_Request">부킹요청</button>
                                <div class="modify_btn" id="modify_btn_E_List" style="display:none; gap:10px;">
                                    <button type="button" class="btn-type-01 btn_modify" id="btn_E_Modify" style="display:none">수정</button>
                                    <button type="button" class="btn-type-01 btn_delete" id="btn_E_Delete" style="display:none">Cancel</button>
                                    <button type="button" class="btn-type-01 btn_list" id="btn_E_List">목록</button>
                                </div>
                                <!-- E : 폼 끝(export) -->
                            </div>

                            <div class="bk-wrap bk-form-2 d-none">

                                @if (ViewBag.BKG_NO != null)
                                {
                                    <div class="booking_status">
                                        <p>부킹 상태 : <span name="booking_status_title"></span></p>
                                    </div>
                                }

                                <!-- S : 폼 시작(Import) -->
                                <div class="bk-box">
                                    <div class="input-box">
                                        <input type="text" id="input_bk_I_Item" class="input_for" placeholder="Item" data-index="BkReg_I_0" />
                                        <button type="button" class="delete-btn"><i class="xi-close-thin"></i></button>
                                    </div>
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-4">
                                            <div class="input-box mb-0">
                                                <input type="text" id="input_bk_I_Qty" class="input_for" placeholder="Qty" data-index="BkReg_I_1" maxlength="5" />
                                                <button type="button" class="delete-btn"><i class="xi-close-thin"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="input-box mb-0">
                                                <input type="text" id="input_bk_I_GW" class="input_for" placeholder="G/W (kg)" data-index="BkReg_I_2" maxlength="8" />
                                                <button type="button" class="delete-btn"><i class="xi-close-thin"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="input-box mb-0">
                                                <input type="text" id="input_bk_I_CBM" class="input_for" placeholder="CBM" data-index="BkReg_I_3" maxlength="5" />
                                                <button type="button" class="delete-btn"><i class="xi-close-thin"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bk-box">
                                    <p class="common-text--16 pb-1 font-sub font-weight-medium">Freight terms</p>
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <input type="checkbox" name="input_bk_COL9" value="EXW" id="EXW" title="EXW-im" class="mr_05" />
                                            <label for="EXW" class="common-text--16 font-sub text-gray-6">EXW</label>
                                        </div>
                                        <div class="col-auto">
                                            <input type="checkbox" name="input_bk_COL9" value="FOB" id="FOBI" title="FOB-im" class="mr_05" />
                                            <label for="FOBI" class="common-text--16 font-sub text-gray-6">FOB</label>
                                        </div>
                                        <div class="col-auto">
                                            <input type="checkbox" name="input_bk_COL9" value="FCA" id="FCA" title="FCA-im" class="mr_05" />
                                            <label for="FCA" class="common-text--16 font-sub text-gray-6">FCA</label>
                                        </div>
                                        <div class="col-auto">
                                            <input type="checkbox" name="input_bk_COL9" value="ETC" id="ETC" title="other" class="mr_05" />
                                            <label for="ETC" class="common-text--16 text-gray-6">기타</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="bk-box">
                                    <div class="input-box">
                                        <input type="text" id="input_bk_COL10" class="input_for" placeholder="선적지 파트너 or Real shipper 정보입력" data-index="BkReg_I_4" maxlength="50" />
                                        <button type="button" class="delete-btn"><i class="xi-close-thin"></i></button>
                                    </div>
                                    <div class="input-box">
                                        <input type="text" id="input_bk_COL11" class="input_for" placeholder="Real Consignee Name" data-index="BkReg_I_5" maxlength="50" />
                                        <button type="button" class="delete-btn"><i class="xi-close-thin"></i></button>
                                    </div>
                                    <div class="input-box">
                                        <input type="text" id="input_bk_COL12" class="input_for" placeholder="Pick up address / Cargo dimension 정보(EXW 체크시)" data-index="BkReg_I_6" disabled="disabled" maxlength="50" />
                                        <button type="button" class="delete-btn"><i class="xi-close-thin"></i></button>
                                    </div>
                                </div>
                                <div class="bk-box">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <input type="checkbox" name="danger-im" value="위험물" id="input_bk_COL13" title="위험물" class="mr_05" />
                                            <label for="input_bk_COL13" class="common-text--16 text-gray-6">위험물</label>
                                        </div>
                                        <div class="col-auto">
                                            <input type="checkbox" name="non-stack-im" value="2단금지화물" id="input_bk_COL14" title="2단금지화물" class="mr_05" />
                                            <label for="input_bk_COL14" class="common-text--16 text-gray-6">2단 금지 화물</label>
                                        </div>
                                        <div class="col-auto">
                                            <input type="checkbox" name="transit-im" value="운송" id="input_bk_COL15" title="운송" class="mr_05" />
                                            <label for="input_bk_COL15" class="common-text--16 text-gray-6">운송</label>
                                        </div>
                                        <div class="col-auto">
                                            <input type="checkbox" name="customs-im" value="통관" id="input_bk_COL16" title="통관" class="mr_05" />
                                            <label for="input_bk_COL16" class="common-text--16 text-gray-6">통관</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="bk-box border-0">
                                    <div class="input-box">
                                        <textarea id="input_bk_COL17" class="input_for" placeholder="Remark (안전창고의 경우 한글 아이템명 기입)" data-index="BkReg_I_7" maxlength="150"></textarea>
                                        @*<button type="button" class="delete-btn"><i class="xi-close-thin"></i></button>*@
                                    </div>
                                    <div id="file_list2">
                                        <div class="file-box">
                                            <label for="bk_file_I_upload" class="file-box__btn">+ 첨부파일</label>
                                            <input type="file" id="bk_file_I_upload" multiple="multiple" />
                                        </div>
                                        <div class="upload_files">
                                            <div class="upload_noscroll">
                                                <table class="upload_head">
                                                    <colgroup>
                                                        <col width="30%" />
                                                        <col width="70%" />
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th><p class="file_tit">구분</p></th>
                                                            <th><p class="file_tit">파일명</p></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                            <div class="upload_scroll">
                                                <table class="upload_body">
                                                    <colgroup>
                                                        <col width="30%" />
                                                        <col width="70%" />
                                                    </colgroup>
                                                    <tbody id="insert_I_files">
                                                        @*<tr>
                                                    <td>
                                                        <select>
                                                            <option>C/I, P/L</option>
                                                            <option>원산지 증명서</option>
                                                            <option>수출 면장</option>
                                                            <option>수출계약서</option>
                                                            <option>기타</option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <div class="file_cover">
                                                            <span class="file_name">안전운임_양식_2021_4분기.xlsx</span>
                                                            <button type="button" class="delete-btn" style="display: inline-block;"><i class="xi-close-thin"></i></button>
                                                            <input type="hidden" class="input_FileList_SEQ">
                                                            <input type="hidden" class="input_FileList_SetTime" name="input_FileList_SetTime" value="2022051114321261">
                                                        </div>
                                                    </td>
                                                </tr> *@
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn-type-01 w-100 mt-3" id="btn_I_Request">부킹요청</button>
                                <div class="modify_btn" id="modify_btn_I_List" style="display:none">
                                    <button type="button" class="btn-type-01 btn_modify" id="btn_I_Modify" style="display:none">수정</button>
                                    <button type="button" class="btn-type-01 btn_delete" id="btn_I_Delete" style="display:none">Cancel</button>
                                    <button type="button" class="btn-type-01 btn_list" id="btn_I_List">목록</button>
                                </div>
                                <!-- E : 폼 끝(Import) -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="layer_zone alert_type" id="Booking_Confirm">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="layer_tit">
                        <h1 class="tit"></h1>
                    </div>
                    <div class="alert_cont">
                        <div class="inner">
                            부킹 요청을 하시겠습니까?
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns radius cr2 loginChk" id="Booking_Confirm_cencel">취소</button>
                        <button type="button" class="btns radius cr1 loginChk" id="Booking_Confirm_confirm">확인</button>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <div class="layer_zone alert_type" id="layer_NoSchedule">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="layer_tit">
                        <h1 class="tit"></h1>
                    </div>
                    <div class="alert_cont">
                        <div class="inner">
                            예약 할 수 없는 스케줄 입니다.
                        </div>
                    </div>
                    <div class="btn_w">
                        <button type="button" class="btns radius cr1 loginChk" id="btn_NoSchedule">확인</button>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="layer_zone alert_type" id="BkgList_Confirm">
        <div class="layer_wrap">
            <div class="layer_inwrap">
                <article class="layer_cont">
                    <div class="layer_tit">
                        <h1 class="tit"></h1>
                    </div>
                    <!-- alert_cont -->
                    <div class="alert_cont">
                        <div class="inner">
                            데이터가 삭제 되었습니다.
                        </div>
                    </div>
                    <!-- //alert_cont -->
                    <!-- btn_w -->
                    <div class="btn_w">
                        <button type="button" class="btns radius cr2 loginChk" id="BkgList_Confirm_cencel">취소</button>
                        <button type="button" class="btns radius cr1 loginChk" id="BkgList_Confirm_confirm">확인</button>
                    </div>
                    <!-- //btn_w -->
                    @*<button type="button" class="btn_close close loginChk" id="alert_close" onclick="layerClose('#alert01');"><span class="blind">닫기</span></button>*@
                </article>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Scripts/js/Booking/Regist.js")
}